/* Home.css */
.product-image-input {
    width: 100%; /* or any other size */
    height: auto;
  }
  .product-image {
    width: 100%;
    height: auto;
    max-height: 200px; /* Set max height for the image */
    object-fit: cover; /* Maintain aspect ratio while covering the area */

  }
  
  .logo-image {
    width: 150px;
    /* adjust as needed */
  }
  
  .product-display {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 18rem;
 }


 
  
  .product-card {
    border: 1px solid #ffffff;
    margin: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.product-card :hover {
    transform: translateY(-1px);
  }
    
 

  
  .product-image-input {
    width: 100%;
    /* or any other size */
    height: auto;
  }
  
  .product-card h3,
  .product-card p {
    /* add this to break words properly */
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .price {
    align-self: flex-start;
  }

  .home-container {
    border: 2px solid #000000;
    text-align: center;
    padding: 0px;
    background-color: rgb(173, 173, 173);
  }
   .bk{
    background-color: rgb(173, 173, 173);

   }